<div class="row justify-content-center">
  <div class="col-md-3">
    <ng-template [ngIf]="childrenPath==='gk'">
      <img src="assets/img/goalkeeper/{{player.photo}}" alt="{{player.name}}" style="width: 100%; height: 250px">
    </ng-template>
    <ng-template [ngIf]="childrenPath==='def'">
        <img src="assets/img/defender/{{player.photo}}" alt="{{player.name}}" style="width: 100%; height: 250px">
    </ng-template>
    <ng-template [ngIf]="childrenPath==='mid'">
        <img src="assets/img/midfielder/{{player.photo}}" alt="{{player.name}}" style="width: 100%; height: 250px">
    </ng-template>
    <ng-template [ngIf]="childrenPath==='for'">
        <img src="assets/img/forward/{{player.photo}}" alt="{{player.name}}" style="width: 100%; height: 250px">
    </ng-template>
  </div>
  <div class="col-md-4">
    <font>Name</font>
      <div class="content">
        {{player.name}}
      </div>
    <font>Birth Date</font>
      <div class="content">
        {{player.birthDate | date: 'dd-MMMM-yyyy'}}
      </div>
    <font>Birth Place</font>
      <div class="content">
        {{player.birthPlace}}
      </div>
  </div>
  <div class="col-md-4">
    <font>Height</font>
      <div class="content">
        {{player.height}}
      </div>
    <font>Player Position</font>
      <div class="content">
        {{player.playerPosition}}
      </div>
    <font>Player Number</font>
      <div class="content">
        {{player.playerNumber}}
      </div>
  </div>
</div>
