<div class="row justify-content-center">
  <div class="col-md-5">
    <form [formGroup]="this.service()" (ngSubmit)="onSubmit()">
      <input type="hidden" formControlName="$key">
      <div class="form-group">
        <label for="title">Title</label>
        <input formControlName="title" id="title" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.title.errors}">
        <div class="invalid-feedback" *ngIf="submitted">
          Title tidak boleh kosong !
        </div>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea formControlName="content" id="content" cols="30" rows="5" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.content.errors}"></textarea>
        <small class="invalid-feedback" *ngIf="submitted">
          Content tidak boleh kosong !
        </small>
      </div>
      <div style="text-align: center">
        <div class="btn-group">
          <input type="submit" class="btn btn-primary" value="Submit">
          <button class="btn btn-danger" (click)="this.service().reset()">Clear</button>
          <a [routerLink]="['/history']" (click)="this.service().reset()" class="btn btn-info">Cancel</a>
        </div>
      </div>
    </form>
    <div class="alert alert-info" *ngIf="showSuccessMessage">
      Submitted Succesfully
    </div>
  </div>
  <div class="col-md-7">
    <app-history-list></app-history-list>
  </div>
</div>
