a{
  text-decoration: none;
}

.div-height{
  height: 200px;
}

.background-red{
  background: #b52e2b;
  height: 200px;
  font-weight: bolder;
  padding-top: 25%;
}

.background-black{
  background: #1a161a;
}

.a-link{
  text-align: center;
  /* font-size: 20px; */
  /* margin-top: 5%; */
}

.a-link:hover{
  font-size: 30px;
  background: #1a161a;
  /* -webkit-transition: font-size 0.3s ease-out; */
  /* -moz-transition: font-size 0.3s ease-out; */
  /* -o-transition: font-size 0.3s ease-out; */
  transition: background 0.5s  ease-out ;
}

