<div class="row">
  <div class="col-md-4">
    <a href="/squad">
      <div class="text-white text-center">
        <h4 class="card-title background-red a-link" >SQUAD</h4>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/history">
      <div class="text-white text-center">
        <h4 class="card-title background-red a-link">HISTORY</h4>
      </div>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/tropies">
      <div class="text-white text-center">
        <h4 class="card-body background-red a-link" >TROPIES</h4>
      </div>
    </a>
  </div>
</div>

