<div class="container">
  <h3 style="font-weight: bolder; margin-bottom: 50px;">AC MILAN SQUAD</h3>
  <router-outlet></router-outlet>
  <h3 class="title-position">GOALKEEPER</h3>
  <div class="row">
    <div class="col-md-12">
      <app-goalkeeper></app-goalkeeper>
    </div>
  </div>

  <h3 class="title-position">DEFENDER</h3>
  <div class="row">
    <div class="col-md-12">
      <app-defender></app-defender>
    </div>
  </div>

  <h3 class="title-position">MIDFIELDER</h3>
  <div class="row">
    <div class="col-md-12">
      <app-midfielder></app-midfielder>
    </div>
  </div>

  <h3 class="title-position">FORWARD</h3>
  <div class="row">
    <div class="col-md-12">
      <app-forward></app-forward>
    </div>
  </div>


</div>
